.DS_Store
/.env
.idea/
.vscode/

api/.phpunit.cache/
api/.env.local
api/config/reference.php
api/var/
api/vendor/

frontend/.nuxt/
frontend/.output/
frontend/.pnpm-store/
frontend/coverage/
frontend/node_modules/

!api/.dockerignore
!frontend/.dockerignore
